* {
    margin: 0%;
    padding: 0%;
}
/* Header styles start */
header{
    display: flex;
    justify-content: center;
    position: absolute;
    height: 600px;
    width: 100%;
    background-color: #181733;
}
.navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    position: absolute;
    width: 80%;
}
nav{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    padding-right: 3em;
}
.flexbox{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 85%;

}
.box1{
    position: absolute;
    left: 8%;
    color: white;
    width: 20%;
    order: 1;
    font-size: 40px;
}
.ball{
    display: none;
    position: absolute;
    top: 120px;
    right: 160px;
}
.net{
    position: absolute;
    left: 35%;
}
.premessi{
    position: absolute;
    top: 145px;
    right: 200px;
}
.messi{
    display: none;
    position: absolute;
    top: 145px;
    right: 10px;
}
.flexbox:hover .messi{
    display: block;
}
.messi:hover{
    transform: rotate(-110deg);
    transition: transform 1s ease-in;
}
.flexbox:hover .ball{
    animation: ballmove 1s ease-in 1.5s 1 forwards;
}
@keyframes ballmove {
    from{
        top: 115px;
        right: 165px;
    } 
    to{
        right: 670px;
        top: 200px;
    }
}
.flexbox:hover .premessi{
    display: none;
}
.flexbox:hover .ball{
    display: block;
}
/* Header styles end */

/* Player Grid css */
body{
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 677px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
}
.threeplayers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 474px;
    width: 1050px;
}
.player{
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 474px;
    width: 330px;
}
.inplayer{
    height: 426px;
    width: 300px;
}
.inplayer div{
    height: 154px;
    width: 300px;
}
.inplayer img{
    height: 256px;
    width: 300px;
}
/* Player Grid end */