* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
/* Header styles start */
header{
    display: flex;
    justify-content: center;
    position: absolute;
    height: 600px;
    width: 100%;
    background-color: #181733;
}
.navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    position: absolute;
    width: 80%;
}
.menu{
    display: none;
    padding: 15px;
}
nav{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    padding-right: 3em;
}
.flexbox{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 85%;

}
.box1{
    height: 485px;
    width: 230px;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    position: absolute;
    left: 8%;
    color: white;
    font-size: 30px;
}
.box1 i{
    font-size: 64px;
}
.box1 a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: red;
} 
.box1 h6{
    font-size: 15px;
}
.ball{
    display: none;
    position: absolute;
    top: 120px;
    right: 160px;
}
.net{
    position: absolute;
    left: 35%;
}
.premessi{
    position: absolute;
    top: 145px;
    right: 200px;
}
.messi{
    display: none;
    position: absolute;
    top: 145px;
    right: 10px;
}
.flexbox:hover .messi{
    display: block;
}
.flexbox:hover .premessi{
    display: none;
}
.flexbox2:hover .messi{
    transform: rotate(-110deg);
    transition: transform 1s ease-in;
}
.flexbox2:hover .ball{
    animation: ballmove 1s ease-in 0.9s 1 forwards;
}
@keyframes ballmove {
    from{
        top: 115px;
        right: 165px;
    } 
    to{
        right: 600px;
        top: 200px;
    }
}
.flexbox:hover .premessi{
    display: none;
}
.flexbox:hover .ball{
    display: block;
}

@media only screen and (min-width: 380px) and (max-width: 780px)  {
    body{
        overflow-x: hidden;
    }
    header{
        display: block;
        height: 700px;
    }
    .navbar{
        display: none;
    }
    .menu{
        display: block;
        color: white;
    }
    .menu ul{
        display: none;
        background-color: #181733;
        list-style: none;
    }
    .menu li{
        width: 90px;
        padding: 5px;
        background-color: white;
    }
    .menu a{
        margin-bottom: 15px;
        text-decoration: none;
        color: black;
        word-wrap: break-word;
    }
    .menu:hover ul{
        display: block;
    }
    .flexbox{
        display: flex;
        flex-direction: column;
    }
    
    header:hover .messi{
        display: block;
    }
    header:hover .premessi{
        display: none;
    }
    .net{
        position: absolute;
        top: 400px;
        left: 16px;
    }
    .ball{
        height: 30px;
        width: 30px;
        top: 380px;
    }
    .premessi{
        top: 400px;
    }
    
    @keyframes ballmove {
        from{
            top: 380px;
            right: 165px;
        } 
        to{
            right: 360px;
            top: 480px;
        }
    }
    .messi{
        top: 400px;
    }
    .box1{
        position: absolute;
        top: 112px;
        left: 16px;
        height: 138px;
        width: 278px;
        left: 8%;
        color: white;
    }
    .box1 h1{
        font-size: 36px;
        line-height: 50px;
    }
    .box1 i{
        font-size: 32px;
    }
    .box1 a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        color: red;
    } 
    .box1 h6{
        font-size: 15px;
    }
}
/* Header styles end */

/* Player Grid css */
body{
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 677px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
}
.threeplayers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 474px;
    width: 1050px;
}
.player{
    background-color: white;
    box-shadow: rgba(0, 0, 0, .15)  0px 0px 40px;
    display: flex;
    padding-top: 15px;
    justify-content: center;
    height: 474px;
    width: 330px;
}
.inplayer{
    height: 426px;
    width: 300px;
}
.inplayer div{
    margin-top: 15px;
    height: 154px;
    width: 300px;
}
.inplayer div:hover{
    transform: scale(1.1);
    background-color: white;
}
.inplayer p{
    color: #6C6C6C;
    font-weight: 400;
}
.inplayer h3{
    line-height: 40px;
    font-weight: 900;
    font-size: 28px;
}
.inplayer img{
    height: 256px;
    width: 300px;
}
.inplayer img:hover{
    transform: scale(1.1);
}
@media only screen and (min-width: 480px) and (max-width: 780px) {
    
    .container{
        margin-top: 742px;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 940px;
    }
    .threeplayers{
        flex-direction: column;
        row-gap: 30px;
    }
}
/* Player Grid end */

/* live Section */
.live{
    width: 90%;
    position: absolute;
    top: 2750px;
}
.livebox{
    position: absolute;
    box-shadow: #6C6C6C 0px 0px 50px;
    height: 300px;
    width: 400px;
}
@media only screen and (min-width:780px) {
    .livebox{
        position: absolute;
        left: 2%;
        margin-right: 5%;
    }
    .live img{
        position: absolute;
        right: 2%;
    }
}
.livebox h1{
    margin-bottom: 15px;
}
.livebox p{
    margin-bottom: 10px;
}
.livebox i{
    font-size: 40px;
}
.live img{
    box-shadow: #6C6C6C 0px 0px 30px;
    position: absolute;
    height: 400px;
    width: 600px;
}
@media only screen and (min-width: 480px) and (max-width: 780px) {
    .live{
        top: 6574px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .livebox{
        position: absolute;
        box-shadow: #6C6C6C 0px 0px 50px;
        height: 299px;
        width: 329px;
    }
    .live img{
        top: 180px;
        height: 300px;
        width: 400px;
    }
}
/* Live Section end */

/* Sponsors section */
.sponsors{
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 3300px;
    background-color: #181733;
}
.sponsors img{
    filter: opacity(20%);
    height: 50px;
    width: 80px;
}
.sponsors img:hover{
    filter: opacity(100%);
    color: #6C6C6C;
    transform: scale(1.5);
}
.sponimages{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
@media only screen and (min-width: 480px) and (max-width: 780px) {
    .sponsors{
        width: 100%;
        top: 7100px;
    }
}
/* Sponsor end */

/* Footer Start */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 484px;
    height: 214px;
    position: absolute;
    margin-top: 3473px;
}
footer h1{
    line-height: 72px;
    font-size: 72px;
    font-weight: 400;
    font-family: Niconne;
    color: #10437A;
}
.foot{
    width: 170px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}
.foot i{
    color: #6C6C6C;
    font-size: 32px;
}
@media only screen and (min-width: 480px) and (max-width: 780px) {
    footer{
        top: 3800px;
    }
}
/* Footer End */